scikit-image
imgaug
lmdb
tqdm
numpy~=1.24.4
visualdl
rapidfuzz
opencv-python
opencv-contrib-python
cython
lxml
premailer
openpyxl
attrdict
PyMuPDF<1.21.0
Pillow>=10.0.0
pyyaml
ultralytics

torch~=2.1.0
torchvision
pyzbar~=0.1.9
paddleocr~=2.7.0.3
future~=0.18.3
gdown
easydict
gitpython>=3.1.30
matplotlib>=3.3
numpy>=1.22.2
Pillow>=7.1.2
psutil
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torchvision>=0.9.0
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0
tensorboard

openvino-dev>=2023.0.0
onnx
nncf>=2.5.0
paddlepaddle
pyclipper>=1.2.1
shapely>=1.7.1